
@{
    ViewBag.Title = "MailCRM";
    Layout = "~/Views/Shared/_AgaveLayout.cshtml";
}

<div data-ng-app="mailCRMApp">
    <spinner data-ng-controller="waitingCtrl" data-ng-show="wait"></spinner>
    <div data-ng-view></div>
</div>

@section Scripts {
    <!-- Angular -->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>

    <!-- SignalR stuff -->
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <!-- App scripts -->
    <script src="~/Scripts/Apps/MailCRM/app.js"></script>
    <script src="~/Scripts/Apps/MailCRM/services.js"></script>
    <script src="~/Scripts/Apps/MailCRM/controllers.js"></script>
    <script charset="UTF-8" type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1"></script>
}