<div id="crmNav">
    <ul>
        <li><img class="photo" data-ng-src="{{user.picture}}" /></li>
        <li id="crmNavDetail" data-ng-click="nav('/detail', 0)" data-ng-class="{selected: activeNavIndex == 0}"></li>
        <li id="crmNavContacts" data-ng-click="nav('/contacts', 1)" data-ng-class="{selected: activeNavIndex == 1}"></li>
        <li id="crmNavInvoices" data-ng-click="nav('/invoices', 2)" data-ng-class="{selected: activeNavIndex == 2}"></li>
        <li id="crmNavLocation" data-ng-click="nav('/location', 3)" data-ng-class="{selected: activeNavIndex == 3}"></li>
        <li id="crmNavNotes" data-ng-click="nav('/notes', 4)" data-ng-class="{selected: activeNavIndex == 4}"></li>
        <li id="crmNavAttachments" data-ng-click="nav('/attachments', 5)" data-ng-class="{selected: activeNavIndex == 5}"></li>
    </ul>
</div>