<side-nav></side-nav>
<div class="crmBody">
    <h1>Notes</h1>
    <div class="input-group" style="padding-bottom: 10px;">
        <input type="text" class="form-control" placeholder="Add note here" data-ng-model="newNote.note">
        <div class="input-group-addon" style="cursor: pointer;" data-ng-click="postNote()">Submit</div>
    </div>
    <div class="list-group">
        <div class="list-group-item" data-ng-repeat="item in contact.notes">
            <h4 class="list-group-item-heading">{{item.author_name}} ({{ item.post_date }})</h4>
            <p class="list-group-item-text"><em>"{{ item.note }}"</em></p>
        </div>
    </div>
</div>
