<h1>Create Contact</h1>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="txtName">Name:</label>
                <input type="text" id="txtName" data-ng-model="contact.name" class="form-control" />
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="txtAddress">Address:</label>
                <input type="text" id="txtAddress" data-ng-model="contact.address" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="txtWork">Work Phone:</label>
                <input type="text" id="txtWork" data-ng-model="contact.work_phone" class="form-control" />
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="txtCell">Cell Phone:</label>
                <input type="text" id="txtCell" data-ng-model="contact.cell_phone" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <button data-ng-click="postContact()" class="btn btnAgave">Add Contact</button>
        </div>
    </div>
</div>