<side-nav></side-nav>
<div class="crmBody">
    <h1>{{ contact.name }}</h1>
    <ul class="ulform">
        <li class="liform">
            <div class="label">Email:</div>
            <div class="content">{{ contact.id }}</div>
        </li>
        <li class="liform">
            <div class="label">Address:</div>
            <div class="content">{{ contact.address }}</div>
        </li>
        <li class="liform">
            <div class="label">Work Phone:</div>
            <div class="content">{{ contact.work_phone }}</div>
        </li>
        <li class="liform">
            <div class="label">Cell Phone:</div>
            <div class="content">{{ contact.cell_phone }}</div>
        </li>
    </ul>
</div>
