<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

@{
    Layout = "~/Views/Shared/Redirect_Layout.cshtml";
}
<script type="text/javascript">
    function openTab() {
        window.open(@ViewBag.redirect, '_blank');
    }
</script>

<h2>UploadToTeams</h2>

