@*<!-- Copyright (c) Microsoft Corporation.
    Licensed under the MIT License. -->*@

@*
    This page is only seen if the web.config has an empty string for either the app's ID or its secret.
*@


@model dynamic

@{
    ViewBag.Title = "Login Error";

}

<h2>Login Error</h2>

<p>@ViewBag.Message</p>

