@*<!-- Copyright (c) Microsoft Corporation.
    Licensed under the MIT License. -->*@

@{
    ViewBag.Title = "Home Page";
}

<!-- For the Office UI Fabric, go to https://aka.ms/office-ui-fabric to learn more. -->
<link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.min.css" />
<link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.components.min.css" />
<script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/js/fabric.min.js"></script>

<link rel="stylesheet" href="~/MessageRead.css">

<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/3.5/MicrosoftAjax.js" type="text/javascript"></script>
<script src="~/Scripts/helpers.js" type="text/javascript"></script>
<script src="~/Scripts/MessageRead.js" type="text/javascript"></script>


<div class="content-wrap">
    <div id="main-content" hidden>
        <div class="ms-Overlay">
            <div class="status-display">
                <div class="status-message ms-font-xl">Working...</div>
                <div class="status-spinner ms-Spinner ms-Spinner--large"></div>
            </div>
        </div>
        <div class="button-container">
            <button class="ms-Button ms-Button--primary" id="save-selected" disabled>
                <span class="ms-Button-label">Save selected</span>
            </button>
        </div>
        <ul class="ms-List" />
    </div>

    <div class="no-attachments" hidden>
        <div class="ms-font-su ms-fontColor-themePrimary">
            <i class="ms-Icon ms-Icon--Emoji"></i>
            <p class="ms-font-l">There are no attachments on this message.</p>
        </div>
    </div>

    <!-- FabricUI component used for displaying notifications -->
    <div class="ms-MessageBanner is-hidden">
        <div class="ms-MessageBanner-content">
            <div class="ms-MessageBanner-text">
                <div class="ms-MessageBanner-clipper">
                    <span id="notificationHeader"></span>
                    <span>: </span>
                    <span id="notificationBody"></span>
                </div>
            </div>
            <button class="ms-MessageBanner-expand">
                <i class="ms-Icon ms-Icon--ChevronDown"></i>
            </button>
            <div class="ms-MessageBanner-action"></div>
        </div>
        <button class="ms-MessageBanner-close">
            <i class="ms-Icon ms-Icon--Clear"></i>
        </button>
    </div>
</div>

