@{
    ViewBag.Title = "Home Page";
}

<div id="content-main">
    <div class="padding">
        <br />
        <p class="ms-font-xxl ms-fontColor-neutralSecondary ms-fontWeight-semilight">Sample</p>
        <br />
        <div class="ms-font-xl ms-fontColor-neutralTertiary">Getting Started</div>
        <p class="ms-font-m-plus ms-fontColor-neutralTertiary">This sample reads the value of the text you have selected in the slide. </p>
        <br /><br />
        <button class="ms-Button ms-Button--primary" id="get-data-from-selection">
            <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plus"></i></span>
            <span class="ms-Button-label">Get data from selection</span>
            <span class="ms-Button-description">Gets the selected data and displays it.</span>
        </button>
        <br /><br /><br />
        <div class="ms-font-m"><a target="_blank" class="ms-Link ms-Link--hero" href="https://go.microsoft.com/fwlink/?LinkId=276812">Find more samples online...</a></div>
    </div>
</div>
<div class="footer">
    <div class="ms-Grid ms-bgColor-themeSecondary">
        <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg12"> <div class="ms-font-xl ms-fontColor-white">Contoso</div></div>
        </div>
    </div>
</div>

@section pageStyles {
    <link href="~/Content/PageSpecificStyles/Home.css" rel="stylesheet" />
}

@section pageScripts {
    <script src="~/Scripts/Home/Home.js"></script>
}