/* Common app styling */

.padding-header {
    padding: 30px 30px 20px 20px;
}

.padding-body {
    padding: 5px 20px;
}

.padding-top {
    padding: 25px 0px 0px 0px;
}

#notification-message {
    background-color: #818285;
    color: #fff;
    position: absolute;
    width: 100%;
    min-height: 80px;
    right: 0;
    z-index: 100;
    bottom: 0;
    display: none; /* Hidden until invoked */
}

    #notification-message #notification-message-header {
        font-size: medium;
        margin-bottom: 10px;
    }

    #notification-message #notification-message-close {
        background-image: url("../Images/Close.png");
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
    }
