@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Choose <b>Products</b> to sign in and get started working with Contoso product data.</p>
</div>