@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- The following image URL tracks diagnostic data for this sample add-in. Please remove the image tag if you reuse this sample in your own code project. -->
    <img src="https://pnptelemetry.azurewebsites.net/pnp-officeaddins/samples/excel-open-in-teams-run" />

    <h1 class="display-4">Welcome</h1>
    <p>Choose <b>Products</b> to sign in and get started working with Contoso product data.</p>
</div>