  select {
    top: 617px;
    left: 599px;
    width: 125px;
    height: 32px;
    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #605E5C;
    border-radius: 2px;
    opacity: 1;
  }

  .dropdown label {
    font-size: 14px;
  }

  .container {
    position: relative;
    min-height: 90vh;
  }

  #content-wrap {
    padding-bottom: 5rem;    /* Footer height */
  }

  .footer {
    position: absolute;
    bottom: 0;
    left : 15px;
    width: 100%;
    height: 2.5rem;    
  }

  label{
    width: 50px;
    height: 16px;
    position: relative; 
    left: 17px;
    font-size:12px;
    text-align: left;
    font: Regular Segoe UI;
    letter-spacing: 0px;
    color: #323130;
    opacity: 1;
  }

  #override_sig{
    font-size:16px; 
    position: absolute;  
    left: 25px;
    width: 200px;
    text-align: left;
    letter-spacing: 0px;
    color: #323130;
    opacity: 1;
  }

  #submit_button{
    position: relative;
    left: 144px;
    width: 86px;
    height: 32px;
    color: white;
    background: #0078D4 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
  }

  .testBtn{
    position: relative;
    top: -1px;
    left: 17px;
    border: none;
    color: #FFFFFF; /* White */
    background-color: #4CAF50; /* Green */
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    padding: 10px 15px;
    cursor: pointer;
  }

  #edit_button{
    position: relative;
    left: 17px;
    width: 80px;
    height: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #8A8886;
    border-radius: 2px;
    opacity: 1;
  }

  #message {
    position: relative;
    left: 17px;
    color: white;
    font-weight: bold;
    width: 277px;
    background-color: green;
    padding: 10px;
    display: none;
  }

  #hard_reset_button{

    position: relative;
    left: 90px;
    width: 140px;
    height: 32px;
    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #8A8886;
    border-radius: 2px;
    opacity: 1;

  }
  
  .templates{
    position: relative;
    left: 17px;
    margin-bottom: 0;
    font-size: 12px;
    text-align: left;
    font: Bold 12px/20px Segoe UI;
    letter-spacing: 0px;
    color: #323130;
    opacity: 1;

  }

  #box_1{
    position: relative;
    left: 17px;
    width: 290px;
    height: 136px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    color: #8b6464;
    padding: 5px;
    opacity: 1;
  }

  #box_2{
    position: relative;
    left: 17px;
    width: 290px;
    height: 106px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    color: #8b6464;
    padding: 5px;
    opacity: 1;
  }

  #box_3{
    position: relative;
    left: 17px;
    width: 290px;
    height: 65px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    color: #8b6464;
    padding: 5px;
    opacity: 1;
  }



  .switch {
    position: relative;
    display: inline-block;
    width: 46.6px;
    height: 22.44px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .264s;
    transition: .264s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17.16px;
    width: 17.16px;
    left: 2.64px;
    bottom: 2.64px;
    background-color: white;
    -webkit-transition: .264s;
    transition: .264s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17.16px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #greeting_text_box_1{
    position: relative;
    left: 5px;
    bottom: 2px;

    font-size: 12px;
    text-align: left;
    font: Regular 12px/20px Segoe UI;
    letter-spacing: 0px;
    color: #323130;
    opacity: 1;
  }

  #name_box_1{
    position: relative;
    left: 138px;
    bottom: -5px;

    font-size: 12px;
    text-align: left;
    font: Segoe UI;
    letter-spacing: 0px;
    color: #323130;
    opacity: 1;
  }

  #logo_box_1{
    position: relative;
    bottom: 35px;

    width: 136px;
    height: 90px;

    background: transparent url('img/sample-logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  #job_box_1{

    position: relative;
    left: 138px;
    bottom: 110px;

    font-size: 12px;
    text-align: left;
    font: Segoe UI;
    letter-spacing: 0px;
    color: #323130;
    opacity: 1;

  }

  #email_box_1{

    position: relative;
    left: 138px;
    bottom: 118px;

    font-size: 12px;
    text-align: left;
    font: Segoe UI;
    letter-spacing: 0px;
    color: #323130;
    opacity: 1;

  }
  
  #phone_box_1{
    position: relative;
    left: 138px;
    bottom: 125px;

    font-size: 12px;
    text-align: left;
    font: Segoe UI;
    letter-spacing: 0px;
    color: #323130;
    opacity: 1;
  }

  #line_box_1{
    position: relative;
    left: 140px;
    bottom: 206px;

    border-left: 1px solid rgb(42, 98, 221);
    float: left;
    height: 70px;
    margin-left: -11px;
  }



  #greeting_text_box_2{
    position: relative;
    left: 5px;
    bottom: 2px;

    font-size: 12px;
    text-align: left;
    font: Regular 12px/20px Segoe UI;
    letter-spacing: 0px;
    color: #323130;
    opacity: 1;
  }

  #name_box_2{
    position: relative;
    left: 108px;

    font-size: 12px;
    text-align: left;
    font: Bold 12px/20px Segoe UI;
    letter-spacing: 0px;
    color: #323130;
    opacity: 1;
  }

  #logo_box_2{
    position: relative;
    bottom: 40px;
    left: 0px;

    width: 105px;
    height: 69px;

    background: transparent url('img/sample-logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  #email_box_2{
    position: relative;
    left: 108px;
    bottom: 96px;

    font-size: 12px;
    text-align: left;
    font: Segoe UI;
    letter-spacing: 0px;
    color: #323130;
    opacity: 1;

  }
  
  #phone_box_2{
    position: relative;
    left: 108px;
    bottom: 103px;

    font-size: 12px;
    text-align: left;
    font: Segoe UI;
    letter-spacing: 0px;
    color: #323130;
    opacity: 1;
  }

  #line_box_2{
    position: relative;
    left: 112px;
    bottom: 165px;
    
    border-left: 1px solid rgb(42, 98, 221);
    float: left;
    height: 50px;
    margin-left: -11px;
  }


  #greeting_text_box_3{
    position: relative;
    left: 5px;

    font-size: 12px;
    text-align: left;
    font: Segoe UI;
    letter-spacing: 0px;
    color: #323130;
    opacity: 1;
  }

  #name_box_3{
    position: relative;
    left: 5px;
    bottom: 12px;

    font-size: 12px;
    text-align: left;
    font: Segoe UI;
    letter-spacing: 0px;
    color: #323130;
    opacity: 1;
  }

  #logo_box_3{
    position: relative;
    bottom: 28px;
    left: 4px;

    width: 25px;
    height: 25px;

    background: transparent url('img/2000px-Microsoft_logo_(2012) copy.png') 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  #email_box_3{
    position: relative;
    left: 46px;
    bottom: 55px;

    font-size: 12px;
    text-align: left;
    font: Segoe UI;
    letter-spacing: 0px;
    color: #323130;
    opacity: 1;

  }

  #line_box_3{
    position: relative;
    left: 48px;
    bottom: 98px;
    
    border-left: 1px solid rgb(42, 98, 221);
    float: left;
    height: 32px;
    margin-left: -11px;
  }

  #ffeed {
    position: fixed;
    bottom: 10px;
    left: 23px;
  } 

  #newMApt  {
    position: relative;
    left: 18px;
    padding-right: 42px;
    font-size: 16px;
    text-align: left;
  }
