  #carzzz {
    left: 441px;
    width: 299px;
    height: 27px;
    background: #ECECEC 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  #override_sig{

    font-size:20px; 
    position: relative;  
    left: 60px;
    width: 200px;

    text-align: left;
    letter-spacing: 0px;
    color: #323130;
    opacity: 1;
  }

  #reset_button{
    position: relative;
    left: 90px;
    width: 80px;
    height: 32px;
    color: white;
    
    background: #2196F3 0% 0% no-repeat padding-box;
    border: 1px solid #8A8886;
    border-radius: 2px;
    opacity: 1;
  }