//- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See full license in root of repo. -->
//- 
//- This file is a template from which all the other pug files are built.

doctype html
html
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= title
    link(rel='stylesheet', href='https://appsforoffice.microsoft.com/fabric/2.1.0/fabric.min.css')
    link(rel='stylesheet', href='https://appsforoffice.microsoft.com/fabric/2.1.0/fabric.components.min.css')
    link(rel='stylesheet', href='/stylesheets/OfficeThemes.css')
    link(rel='stylesheet', href='/stylesheets/Site.css')
    script(src='https://appsforoffice.microsoft.com/lib/1/hosted/office.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='/javascripts/document.js')
    script(src='/javascripts/message-helper.js')
    script(src='/javascripts/data.js')
    script(src='/javascripts/ssoAuth.js')
    script(src='/javascripts/fallbackAuthTaskpane.js')
  body.ms-font-m.cancelDefaultBrowserIndentation
    block content