
@{
    ViewBag.Title = "PickChannel";
}

<h2>Select the channel</h2>


@using (Html.BeginForm("UploadSpreadsheet", "Products", FormMethod.Get))
{

    <fieldset>

        Team Channel:

        @Html.DropDownList("ChannelList")

        <p>

            <input type="submit" value="Submit" />

        </p>

    </fieldset>

}