@*Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See full license in the root of the repo.*@

@using Newtonsoft.Json;

@{
    ViewBag.Title = "Authorization Complete";
}

<div class="ms-bgColor-neutralLight welcome">
    <div class="ms-fontSize-xl ms-fontColor-themePrimary indentFromPaneEdge centeredText">Authorization Complete</div>
</div>
<p class="ms-font-l ms-fontColor-themePrimary indentFromPaneEdge centeredText">Please wait until this dialog closes</p>


@section scripts {

    <script>
        var spaAuthCode = @Html.Raw(ViewBag.SpaAuthCode);
    </script>
    <script>
        Office.initialize = function (reason) {
            $(document).ready(function () {
                console.log("Sending auth complete message through dialog: " + spaAuthCode);
                Office.context.ui.messageParent(spaAuthCode);
            });
        }

        </script>

}

