@* Copyright (c) Maarten van Stam. All rights reserved. Licensed under the MIT License. *@
@page "/bubblechart"

<p>This sample shows how to create a bubble chart, with each chart series (or bubble) representing a single table row.</p>

<h3>Set up</h3>
<div class="col-md-6">
    <button type="button" class="btn btn-primary" @onclick="CreateTable">Create Table</button>
</div>

<h3>Try it out</h3>
<div class="col-md-6">
    <button type="button" class="btn btn-primary" @onclick="CreateBubbleChart">Create a bubble chart</button>
</div>
