@* Copyright (c) Maarten van Stam. All rights reserved. Licensed under the MIT License. *@
@page "/"

<PageTitle>Hello World</PageTitle>

<div class="row">
	<h1>
		Call Office JavaScript API
	</h1>
	<p>
		Set cell A1 to the value of 'Hello world!' using JavaScript interop between Blazor and the Office JavaScript API.
	</p>
	<div class="col-md-6">
		<button type="button" class="btn btn-primary" @onclick="HelloButton">Hello world!</button>
	</div>
</div>