@*Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See full license in the root of the repo.*@

@{
    ViewBag.Title = "Home Page";
}

@* Welcome message. This view is only seen if the user isn't already signed in. *@
<div id="connectContainer">
<!-- The following image URL tracks diagnostic data for this sample add-in. Please remove the image tag if you reuse this sample in your own code project. -->
    <img src="https://pnptelemetry.azurewebsites.net/pnp-officeaddins/auth/Outlook-Add-in-Microsoft-Graph-ASPNET-run" />

    <div class="ms-bgColor-neutralLight welcome">
        <div class="ms-fontSize-xl ms-fontColor-themePrimary">Welcome</div>
        <div class="ms-font-l">This add-in demonstrates how to connect to Microsoft Graph from an add-in.</div>
        
    </div>
    <div class="welcome-body"> 
        <p class="ms-font-xs welcome-intro">This add-in performs the following tasks:</p>
       
        <ul class="ms-List ordered-list">
            <li class="ms-ListItem">
                <span class="ms-ListItem-primaryText">1</span>
                <span class="ms-ListItem-secondaryText">Connects to OneDrive for Business.</span>
                <div class="clearfix"></div>
            </li>
            <li class="ms-ListItem">
                <span class="ms-ListItem-primaryText">2</span>
                <span class="ms-ListItem-secondaryText">Gets the names of the first three workbooks in OneDrive for Business.</span>
                <div class="clearfix"></div>
            </li>
            <li class="ms-ListItem">
                <span class="ms-ListItem-primaryText">3</span>
                <span class="ms-ListItem-secondaryText">Adds the names to the current message.</span>
                <div class="clearfix"></div>
            </li>
        </ul>     
    </div>
</div>

<div id="waitContainer" style="display:none">
    <div class="ms-Spinner"></div>
    <p class="ms-font-l ms-fontColor-themePrimary indentFromPaneEdge centeredText">Please complete the authentication in the pop-up window.</p>
</div>

@* Custom CSS "homefooter" class is fixed to the bottom of the page so it is visible even if the task pane is scrolled. *@
<footer id="footer" class="homefooter ms-bgColor-neutralLight">
    <div class="container">

        @* Button to sign in to Office 365 *@
        <p align="center">
            <button id="loginO365PopupButton" class="popupButton ms-Button ms-Button--primary"><span class="ms-Button-label">Connect to Office 365</span></button>
        </p>

    </div>
</footer>

@* Run script to open pop-up dialog in which user will sign in to Office 365. *@
@section scripts {
    <script>
        var stateKey = '@ViewBag.StateKey';
    </script>

    <script src="~/Scripts/Add-In-Home-Index.js"></script>
}
