//- Copyright (c) Microsoft Corporation.
//- Licensed under the MIT License.
//-
//- In the unlikely event that all the custom error handling in this sample doesn't catch an error, the default
//- error handler defined at the end of app.js will open this page.

extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
