@* Copyright (c) Maarten van Stam. All rights reserved. Licensed under the MIT License. *@
@page "/helloworld"


<div class="row">
	<h1>
		Call Office JavaScript API
	</h1>
	<p>
		Write some text to the Word document using JavaScript interop between Blazor and the Office JavaScript API.
	</p>
	<div class="col-md-6">
		<button type="button" class="btn btn-primary" @onclick="InsertParagraph">Hello world!</button>
	</div>
</div>
