@* Copyright (c) Maarten van Stam. All rights reserved. Licensed under the MIT License. *@
@page "/requestcontextdemo"

<section class="Title">
	<h1>
		RequestContext demo
	</h1>
</section>

<section class="description text">
	<p>
		This sample demonstrates how to use RequestContext as an alternative option for your Office JavaSript API interop.
	</p>
</section>

<section class="setup ms-font-m">
	<h3>Request context demo</h3>
	<button class="btn btn-primary" @onclick="Setup">Run demo</button>
</section>
