section.samples .ms-Button, section.setup, .main {
  display: block;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 50px;
}
.backgroundColorForm {
background-color: #E0E0E0;
padding: 20px 0px;
width: 420px;
}
.contentPadding {
padding: 0 10px;
}
.arrows {
background-color: #E0E0E0;
border-color: #E0E0E0;
margin: 0px;
min-width: 0px;
padding: 5px 5px;
/* display: block; */
}
.checkboxes {
display: inline;
}
.buttons {
margin: 10px;
}
.center {
text-align: center;
}
.centerObject {
margin: 5px auto;
}
.columnTitle {
text-align: center;
font-weight: bold;
}
.formContents {
margin: 5px 10px;
padding: 10px;
}
.solidBorder {
border-style: solid; 
border-width: thin;
border-color: #C0C0C0;
border-radius: 5px;
}
.inputBox {
margin: 0px auto;
padding: 5px 2px;
min-width: 200px;
}
.labels {
margin: 2px 10px;
min-width: 175px;
font-weight: bold;
}
.sectionHeader {
display: block;
margin-left: 5px;
margin-right: 15px;
font-weight: bold;
}
.sectionTitle {
min-width: 290px;
}
.sectionToggle {
text-align: right;
padding: 10px 15px;
}