@{
    ViewBag.Title = "Authorization Complete";
}
<div class="row" style="padding: 5px;">
    <div class="col-md-12">
        <p>The Customer Detail add-in has all the information it needs. You can now close this dialog.</p>
    </div>
</div>

