<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso</h1>
    <p class="lead">Access Contoso financial data using this web site.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Go to financial section.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

</div>