
@{
    ViewBag.Title = "OpenInTeams";
}

@if (ViewBag.TeamsReady)
{
    <div class="form-horizontal">
        <div class="col-md-12" style="margin-top:20px">

            @Html.DropDownList("ObjList", (IEnumerable<SelectListItem>)ViewBag.TeamsInfo, new { id = "ddlLocations", @class = "form-control" })
        </div>
    </div>
    <div>
        Selected Text: <label id="lbltxt"></label>
        <br />
        <br />
        Selected Value: <label id="lblid"></label>
    </div>
    <script type="text/javascript">
        var dropbox = document.getElementById('ddlLocations');
        var globalSelectedTeam = dropbox.value;
        dropbox.addEventListener('change', (event) => {
            globalSelectedTeam = event.target.value;
        });


    </script>

    <input type="button" value="Create" onclick="location.href='@Url.Action("BrowseChannels/", "Home")'+'?teamID='+globalSelectedTeam" />
}

@if (ViewBag.ChannelsReady)
{
    <div class="form-horizontal">
        <div class="col-md-12" style="margin-top:20px">

            @Html.DropDownList("ChannelList", (IEnumerable<SelectListItem>)ViewBag.ChannelsInfo, new { id = "ddlChannels", @class = "form-control" })
        </div>
    </div>
    <div>
        Selected Text: <label id="lbltxt"></label>
        <br />
        <br />
        Selected Value: <label id="lblid"></label>
    </div>
    <script type="text/javascript">
        var dropbox = document.getElementById('ddlChannels');
        var globalSelectedChannel = dropbox.value;
        dropbox.addEventListener('change', (event) => {
            globalSelectedChannel = event.target.value;
        });


    </script>

    <input type="button" value="Create" onclick="location.href='@Url.Action("UploadFile/", "Home")'+'?channelID='+globalSelectedChannel+'&teamID='+@Html.Raw("'"+ViewBag.TeamID+"'")" />
}




