@* Copyright (c) Maarten van Stam. All rights reserved. Licensed under the MIT License. *@
@page "/firstaddin"

<div class="row">
	<h1>Welcome</h1>
	<p>Choose on of the following buttons to add boilerplate text to the document by using the Word JavaScript API.</p>
	<h3>Try it out</h3>
	<div class="col-md-4 p-2">
		<button type="button" class="btn btn-primary" @onclick="InsertWaldo">Add quote from Ralph Waldo Emerson</button>
	</div>
	<div class="col-md-4 p-2">
		<button type="button" class="btn btn-primary" @onclick="InsertChekhov">Add quote from Anton Chekhov</button>
	</div>
	<div class="col-md-4 p-2">
		<button type="button" class="btn btn-primary" @onclick="InsertProverb">Add Chinese proverb</button>
	</div>
</div>