@* Copyright (c) Maarten van Stam. All rights reserved. Licensed under the MIT License. *@
@page "/"

<section class="Title">
	<h1>
		Content Control Interactions
	</h1>
</section>
<section class="description text">
	<p>
		This sample demonstrates how to insert and change content control properties.
		The sample shows you how to add Content Controls to Paragraphs and show how to work with Event Handlers.
	</p>
</section>

<section class="setup ms-font-m">
	<h5>Page Setup</h5>
	<p>This will add some initial paragraphs to the document.</p>
	<button class="btn btn-primary" @onclick="Setup">Setup Document</button>
</section>

<section class="samples ms-font-m">
	<div>
		<h5>Convert to Content Controls</h5>
		<p>This will convert each paragraph surrounded by a Content Control.</p>
		<button id="insert-controls" class="btn btn-primary" @onclick="InsertContentControls">Convert to Content Controls</button>
	</div>

	<div class="mt-3">
		<h5>Tag Content Controls</h5>
		<p>Tag content controls, mark as odd and even.</p>
		<button id="change-controls" class="btn btn-primary" @onclick="TagContentControls">Tag Content Controls</button>
	</div>

	<div class="mt-3">
		<h5>Modify Content Controls</h5>
		<p>Modify content control appearance and content.</p>
		<button id="change-controls" class="btn btn-primary" @onclick="ModifyContentControls">Modify Content Controls</button>
	</div>

	<div class="mt-3">
		<h5>Register Content Controls for Events</h5>
		<p>This will add the OnDelete and onSelectionChanged event handlers to the Content Controls.</p>
		<button id="change-controls" class="btn btn-primary" @onclick="RegisterContentControlsEvents">Register Event Handlers</button>
	</div>

	<div class="mt-3">
		<h5>Delete first 'even' tagged Content Control</h5>
		<p>This will delete the first Content Control that was tagged 'even'.</p>
		<button id="change-controls" class="btn btn-primary" @onclick="DeleteContentControl">Delete first 'even' Content Control</button>
	</div>

	<div class="mt-3">
		<h5>De-Register Content Controls for Events</h5>
		<p>This will remove the OnDelete and onSelectionChanged event handlers to the Content Controls.</p>
		<button id="change-controls" class="btn btn-primary" @onclick="DeRegisterContentControlEvents">Remove Event Handlers</button>
	</div>

</section>