@page "/interactwithparagraphs"

<section class="Title">
	<h1>
		Paragraph interactions
	</h1>
</section>

<section class="description text">
	<p>
		This sample demonstrates adding some paragraphs and returning the paragraph count to the UI.
		Each step is separated into smaller snippets (compare to home page).
	</p>
</section>

<section class="setup ms-font-m">
	<button class="btn btn-primary" @onclick="InsertParagraps">Insert paragraphs</button>
	<p class="mt-2">
		Paragraph count is : @ReturnValue.Value
	</p>
</section>

