@page "/requestcontextdemo"

<section class="Title">
	<h1>
		RequestContext Demo
	</h1>
</section>

<section class="description text">
	<p>
		This sample demonstrates how to use RequestContext as an alternative option for your OfficeJS interop ...
	</p>
</section>

<section class="setup ms-font-m">
	<h3>Request Context Demo</h3>
	<button class="btn btn-primary" @onclick="Setup">Run Demo</button>
</section>
